*		{font-family:'Open Sans',sans-serif;font-size:2vh;line-height:133%;}
body		{padding:0;margin:0;color:#ffffff;background-color:#404040;}
h3		{margin:0.25em;font-family:'Titillium Web',sans-serif;font-size:3vh;line-height:150%;}
ol		{margin:0;padding-left:2vh;}
.over p,ul,ol	{margin:0.5vh;}
.over li	{line-height:150%;}
button		{border-radius:0.4vh;margin:0.4vh;padding:0.4vh;background-color:rgba(0,0,0,1.0);color:#ffffff;font-size:2vh;border:solid 0.1vh #000000;}
button:hover	{background-color:rgba(64,64,64,1.0);border:solid 0.1vh #000000;}
button:active	{background-color:rgba(64,64,64,1.0);border:solid 0.1vh #a0a0a0;}
button:focus	{outline:solid 0.1vh #a0a0a0;}
::-webkit-scrollbar
		{background:#c0c0c0;width:2.0vh;height:2.0vh;}
::-webkit-scrollbar-thumb
		{background:#404040;}
::-webkit-scrollbar-corner
		{background:#ffffff;}
::-webkit-scrollbar-button
		{background:#808080;width:2.0vh;height:2.0vh;display:none;}
.zoom		{border-radius:0.4vh;margin:0.4vh;width:4.8vh;height:4.8vh;}
.zoom:hover	{background-color:rgba(128,128,128,0.5);}
.zoom:active	{background-color:rgba(192,192,192,0.5);}
.mark		{z-index:2;position:absolute;display:none;}
#float1		{display:block;position:fixed;left:0;top:0;	border-radius:0.0vh 0.0vh 0.8vh 0.0vh;	width:75vw;height:auto;}
#float2		{display:block;position:fixed;left:0;bottom:0;	border-radius:0.0vh 0.8vh 0.0vh 0.0vh;	width:75vw;height:auto;font-size:smaller;}
#float3		{display:block;position:fixed;right:0;bottom:0;	border-radius:0.8vh 0.0vh 0.0vh 0.0vh;	width:auto;height:25vh;text-align:center;}
#float4		{display:block;position:fixed;right:0;top:0;	border-radius:0.0vh 0.0vh 0.8vh 0.0vh;	width:auto;height:5vh;text-align:center;}
#cross		{z-index:3;position:fixed;left:50%;top:50%;width:1.6vh;height:1.6vh;visibility:hidden;margin-left:-0.8vh;margin-top:-0.8vh;}
#crose		{width:12.8vh;height:6.4vh;margin:0.4vh;}
#embed		{visibility:hidden;}
#load		{z-index:-1;position:fixed;display:inline-block;left:50%;top:50%;width:10em;margin-left:-5em;text-align:center;overflow:hidden;}
.over		{z-index:5;padding:0.4vh;box-shadow:0vh 0vh 0.2vh #000000;background-color:rgba(0,0,0,0.5);}
.mask		{stroke:yellow;stroke-width:0.8vh;stroke-linejoin:miter;fill:transparent;}		/* vector-effect:non-scaling-stroke; */
.mask:hover	{stroke-width:1.6vh;}
.face		{float:right;width:10vh;height:10vh;margin:0.5vh;}
a:link,a:visited
		{color:#ffff00;text-decoration:none;}
a:hover,a:active
		{color:#ffff00;text-decoration:underline;}

/* https://leaverou.github.io/bubbly/ */
/* presumably public domain code */
.popup {
	width:25vh;
	padding:1vh;
	z-index:4;
	color:#000000;
	position: absolute;
	background-color: #ffffa0;
	-webkit-border-radius: 1vh;
	-moz-border-radius: 1vh;
	border-radius: 1vh;
	display: none;
	line-height:100%;
}
.popup:after {
	content: '';
	position: absolute;
	right: 0;
	top: 6.4vh;
	width: 0;
	height: 0;
	border: 3.2vh solid transparent;
	border-left-color: #ffffa0;
	border-right: 0;
	border-top: 0;
	margin-top: -1.6vh;
	margin-right: -3.2vh;
}
.popup h4	{margin:0.5vh;padding:0;}
.popup p	{margin:0.5vh;padding:0;}
